@font-face {
    font-family:nexa-heavy ;
    src: url(../assets/typografia/nexa/Nexa-Heavy.ttf);
}

@font-face {
    font-family: nexa-extra;
    src: url(../assets/typografia/nexa/Nexa-ExtraLight.ttf);
}

@font-face {
    font-family: Cafe;
    src: url(../assets/typografia/louis-george-cafe/Louis-George-Cafe.ttf);
}

@font-face {
    font-family: cafe-light;
    src: url(../assets/typografia/louis-george-cafe/Louis-George-Cafe-Light.ttf);
}

@font-face {
    font-family: cafe-ligth-italic;
    src: url(../assets/typografia/louis-george-cafe/Louis-George-Cafe-Light-Italic.ttf);
}

@font-face {
    font-family: cafe-italic;
    src: url(../assets/typografia/louis-george-cafe/Louis-George-Cafe-Italic.ttf);
}

@font-face {
    font-family: cafe-bold;
    src: url(../assets/typografia/louis-george-cafe/Louis-George-Cafe-Bold.ttf);
}

@font-face {
    font-family: cafe-bold-italic;
    src: url(../assets/typografia/louis-george-cafe/Louis-George-Cafe-Bold-Italic.ttf);
}
